In [1]:
import numpy as np
import pandas as pd

In [4]:
array=np.array([[1,1,1],[2,3,4],[3,5,27]])
index_values=['Row1','Row2','Row3']
column_values=['Col1','Col2','Col3']

In [13]:
df=pd.DataFrame(data=array,index=index_values,columns=column_values)
df

      Col1  Col2  Col3
Row1     1     1     1
Row2     2     3     4
Row3     3     5    27

In [14]:
trace=np.trace(df)
print("Trace of Matrix: ",trace)

Trace of Matrix:  31

In [16]:
df.index

Index(['Row1', 'Row2', 'Row3'], dtype='object')