In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
dataset=pd.read_csv("User_Data.csv")

In [9]:
x=dataset.iloc[:,[2,3]].values
y=dataset.iloc[:,4].values

In [10]:
from sklearn.model_selection import train_test_split 
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc_x = StandardScaler()
xtrain=sc_x.fit_transform(xtrain)
xtest=sc_x.transform(xtest)
print(xtrain[0:10,:])

[[ 0.58164944 -0.88670699]
 [-0.60673761  1.46173768]
 [-0.01254409 -0.5677824 ]
 [-0.60673761  1.89663484]
 [ 1.37390747 -1.40858358]
 [ 1.47293972  0.99784738]
 [ 0.08648817 -0.79972756]
 [-0.01254409 -0.24885782]
 [-0.21060859 -0.5677824 ]
 [-0.21060859 -0.19087153]]

In [13]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)

In [14]:
classifier.fit(xtrain,ytrain)
y_pred=classifier.predict(xtest)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,y_pred)
print("Confusion Matrix: \n",cm)

Confusion Matrix:
 [[65  3]
 [ 8 24]]

In [16]:
from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(ytest,y_pred))

Accuracy:  0.89

In [17]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'one':[1,2,3],'two':[4,5,np.nan]})
df

   one  two
0    1  4.0
1    2  5.0
2    3  NaN

In [ ]:
first.dropna()